*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
 /* background: linear-gradient(to right, #33001b, #ff0033);
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
*/
  background: linear-gradient(to right, #240b36, #c31432);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

/* Contenedor principal (imagen + bot贸n) */
.contenedor {
  display: flex;
  flex-direction: column; /* apila imagen y bot贸n */
  align-items: center;
  text-align: center;

  background: none;
  box-shadow: none;
}

/* Imagen */
.contenedor img {
  width: 460px;
  max-width: 90%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease;
  margin-bottom: 25px; /* espacio con el bot贸n */

  background: none; /* asegura que no tenga fondo */
}

.contenedor img:hover {
  transform: scale(1.05);
}

/* Bot贸n */
.boton-volver {
  text-decoration: none;
  background-color: #ffffff;
  color: #33001b;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

.boton-volver:hover {
  background-color: #33001b;
  color: #ffffff;
  transform: scale(1.05);
}

/* Responsivo */
@media (max-width: 600px) {
  .contenedor img {
    width: 250px;
  }
  .boton-volver {
    padding: 8px 18px;
    font-size: 15px;
  }
}